apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rhdh-ai-observability-gitops
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/redhat-ai-dev/rosa-gitops.git
    targetRevision: HEAD
    path: devcluster-observability/argocd/apps
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
